<mat-toolbar color="primary" class="header-toolbar">
    <span class="header-title">Task Manager</span>
  </mat-toolbar>
  
  <mat-toolbar class="search-toolbar">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Search Tasks</mat-label>
      <input matInput [(ngModel)]="searchQuery" placeholder="Search tasks title" />
    </mat-form-field>
    <div class="add-button">
      <button mat-icon-button (click)="addTask()" matTooltip="Add Task" matTooltipPosition="below" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  
  <table mat-table [dataSource]="filteredTasks" class="task-table">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Task Title </th>
      <td mat-cell *matCellDef="let task" [ngClass]="{ 'completed ': task.is_completed  }">
        {{ task.title }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let task" [ngClass]="{ 'completed ': task.is_completed  }">
        {{ task.description }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef> Deadline </th>
      <td mat-cell *matCellDef="let task" [ngClass]="{ 'completed ': task.is_completed  }">
        {{ task.deadline | date: 'dd-MM-yyyy' }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef> Mark as Completed </th>
      <td mat-cell *matCellDef="let task">
        <mat-checkbox
          [checked]="task.is_completed"
          (change)="onCompletionToggle(task)"
          [disabled]="task.is_completed">
        </mat-checkbox>
      </td>
    </ng-container>
  
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
        [ngClass]="{ 'completed ': row.is_completed  }" 
        [class.disabled-row]="row.is_completed ">
    </tr>
  
  </table>
  
  
  
  